@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --primary-color: #e362fa;
    --nav-color: #7f8491;
    --text-color: #43485c;
    --head-color: #fff;
    --dark-primary-color: #b636ff;
    --form-color: #999fb3;
    --hr-color: #e3e5e9;
    --progress-color: rgb(230, 236, 243);
    --icon-color: #6a708e;
    --placeholder-color: #636a82;
    --footer-color: #f9fbfd;
    --body-color: #fff;
    --background-image: url(../images/port-bg-light.jpg);
    --form-bg-clr: #fff;
    --grid-bg-clr: rgba(47, 22, 78, 0.751);
    --caret-clr: #222;
    --box-shadow-clr: rgb(0 0 0 / 20%);
    --ham-color: #3b042d;
}

[data-theme="dark"] {
    --primary-color: #ffbd39;
    --nav-color: #fff;
    --text-color: #dbdde1;
    --head-color: #fff;
    --dark-primary-color: #ea9c00;
    --form-color: #d6d1bf;
    --hr-color: #e3e5e9;
    --progress-color: rgb(230, 236, 243);
    --icon-color: #fff;
    --placeholder-color: #dbdde1;
    --footer-color: #000;
    --body-color: #171717;
    --background-image: url(../images/port-bg-dark.jpg);
    --form-bg-clr: #111;
    --grid-bg-clr: rgba(55, 38, 0, 0.779);
    --caret-clr: #fff;
    --box-shadow-clr: rgba(125, 125, 125, 12%);
    --ham-color: #fff;
}

* {
    transition: all 0.7s;
}

html {
    scroll-behavior: smooth;
}

*{
    transition: all 0.7s;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--body-color);
}

.hamburger {
    display: none;
}

.ham-one,
.ham-two,
.ham-three {
    background-color: var(--ham-color);
    width: 22px;
    height: 2px;
    margin: 5px 0;
    margin-left: auto;
}

.responsive-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    overflow-x: hidden;
    background-color: var(--body-color);
    /* background-image: url(../Images/nav-bg.jpg); */
    background-size: 60%;
    transition: 0.5s;
    padding-top: 50px;
    text-align: center;
}

.responsive-nav>ul {
    list-style-type: none;

}

.responsive-nav>ul>li>a {
    color: var(--primary-color);
    text-decoration: none;
}

.responsive-nav>ul>li {
    margin-top: 30px;
    font-size: 20px;
}

.responsive-nav>.close {
    position: absolute;
    top: 30px;
    right: 50px;
    color: var(--ham-color);
    text-decoration: none;
    z-index: 99;
}

.responsive-navigation {
    padding-left: 0;
}

.close-btn::before {
    content: "";
    width: 20px;
    height: 3px;
    background-color: var(--ham-color);
    transform: rotate(45deg);
    display: block;
    position: absolute;
}

.close-btn::after {
    content: "";
    width: 20px;
    height: 3px;
    background-color: var(--ham-color);
    transform: rotate(-45deg);
    display: block;
    position: absolute;
}


.scroll {
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--dark-primary-color);
    border: 1px solid var(--dark-primary-color);
    transition: 0.5s;
    color: var(--head-color);
}

.scroll>i {
    position: relative;
    font-size: 20px;
    left: 35%;
    top: 20%;
    animation: example 1s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(5px);
    }

    75% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

.scroll:hover {
    background-color: transparent;
    border: 1px solid var(--dark-primary-color);
    color: var(--primary-color);
}

header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-evenly;
    background-color: var(--body-color);
    z-index: 999;
    box-shadow: 0 3px 15px var(--box-shadow-clr);
}


.header-sec>.logo {
    color: var(--primary-color);
    margin-left: 20px;
    margin-right: 30px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

nav>ul {
    display: flex;
    list-style-type: none;
}

nav>ul>li {
    padding: 8px 20px;
}

nav>ul>li>a {
    text-decoration: none;
    color: var(--nav-color);
    transition: 0.3s;
}

nav>ul>li>a:hover {
    color: var(--primary-color);
}

/* toggle bar */

.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked+.slider {
    background-color: var(--primary-color);
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* header ends here */

.banner {
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    height: 500px;
}

@keyframes slide-up {
    from {
        transform: translateY(10px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 100%;
    }
}

.ban-wrap {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 70px;
    margin-left: 346px
}

.ban-text {
    text-align: center;
    font-size: 50px;
    color: var(--head-color);
    /* width: 30%; */
    margin: 20px auto;
    line-height: 4rem;
    animation: slide-up 1s;
    /* display: block; */

}

.ban-text span {
    color: var(--primary-color);
}

@keyframes still {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}

.ban-wrap>p {
    color: var(--head-color);
    text-align: center;
    margin: 25px auto;
    animation: still 1s;
}

@keyframes slide-down {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 100%;
    }
}

.ban-wrap>a {
    color: var(--head-color);
    text-decoration: none;
    text-align: center !important;
    background-color: var(--primary-color);
    padding: 20px 40px;
    border-radius: 10px;
    transition: 0.5s;
    margin: 0 auto;
    animation: slide-down 1s;
}

.ban-wrap>a:hover {
    background-color: var(--dark-primary-color);
}

.about-sec {
    margin-top: 40px;
}

.about {
    font-size: 25px;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 55px;
}

.hr {
    background-color: var(--hr-color);
    height: 1px;
}

.about-wrap {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.about-text,
.about-img {
    width: 50%;
}

.about-text>h5 {
    color: var(--text-color);
    font-size: 19px;
    width: 78%;
    line-height: 22pt;
    margin-left: auto;
    margin-right: auto;
    font-weight: 100;
}

.about-text>h5>strong {
    color: var(--primary-color);
}

.about-text>p {
    color: var(--nav-color);
    font-size: 17px;
    width: 78%;
    line-height: 20pt;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 20px; */
}

.dash {
    height: 1px;
    width: 78%;
    background-color: var(--nav-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.about-img {
    margin-top: 30px;
}

.about-img>img {
    display: block;
    margin: 0 auto;
}

.about-con {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 78%;
    justify-content: space-between;
    margin-top: 30px;
}

.about-con>* {
    text-align: center;
}

.web {
    width: 30%;
}

address {
    font-style: normal;
    color: var(--form-color);
}

.head {
    color: var(--text-color);
    font-size: 17px;
    font-weight: 600;
}

.phone>a,
.email>a {
    text-decoration: none;
    color: var(--form-color);
}

.edu {
    font-size: 25px;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 55px;
    margin-top: 100px;
}

.edu-box {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}

.year {
    font-size: 18px;
    color: var(--text-color);
}

.desig {
    color: var(--nav-color);
}

.design {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.round-custom {
    height: 10px;
    width: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: inline;
    margin-left: auto;
    /* margin-right: auto; */
}

.line {
    height: 1px;
    width: 315px;
    background-color: var(--nav-color);
    display: inline;
    margin-left: 5px;
    margin-right: auto;
    /* margin-right: auto; */
}

.uni-name {
    margin-top: 30px;
    text-transform: uppercase;
    /* letter-spacing: 1px; */
    font-size: 18px;
    color: var(--text-color);
}

.uni-add {
    font-size: 14px;
    color: var(--nav-color);
    margin-top: 10px;
}

.details {
    font-size: 15px;
    color: var(--form-color);
    width: 80%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.edu-box>* {
    text-align: center;
}

.skill-box {
    display: flex;
    justify-content: space-evenly;
    padding-top: 90px;
}

.column-1,
.column-2 {
    width: 35%;
}


.wrap>p {
    color: var(--nav-color);
    padding-left: 12px;
    margin-bottom: 15PX;
}

.progress {
    border-radius: 3px;
    overflow: visible;
    background: var(--progress-color);
    height: 8px;
    margin-top: 15px;
    width: 85%;
    margin-bottom: 37px;
}

.progress-bar {
    background: var(--dark-primary-color);
    border-radius: 3px;
    height: 8px;
}

.prog-text {
    display: flex;
    justify-content: space-evenly;
}

.prog-text>h3 {
    margin-top: 7px;
    font-weight: 400;
    color: var(--dark-primary-color);
    font-size: 18px;
}

.hr-top {
    margin-top: 100px;
    height: 1px;
    background-color: var(--hr-color);
}

.prf {
    margin-top: 100px;
}

.grid-container {
    margin-top: 100px !important;
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-auto-columns: 1fr;
    /* gap: 15px; */
    grid-template-areas:
        "one"
        "two"
        "three"
        "four";
}

.grid-one {
    background-color: transparent;
    grid-area: one;
    display: flex;
    justify-content: center;
    border-right: 1px solid var(--nav-color);
    transition: 0.5s;
    position: relative;
}

.grid-two {
    background-color: transparent;
    grid-area: two;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    position: relative;
}

.grid-three {
    background-color: transparent;
    grid-area: three;
    display: flex;
    justify-content: center;
    border-right: 1px solid var(--nav-color);
    border-top: 1px solid var(--nav-color);
    transition: 0.5s;
    position: relative;
}

.grid-four {
    background-color: transparent;
    grid-area: four;
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--nav-color);
    transition: 0.5s;
    position: relative;
}

.grid-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

.grid-wrap>a {
    color: var(--icon-color);
    font-size: 28px;
}

.grid-wrap>p {
    color: var(--icon-color);
    font-size: 17px;
}

/* .grid-wrap>a:hover,
.grid-wrap>p:hover{
    color: var(--head-color);
} */
/* .grid-one:hover,
.grid-two:hover,
.grid-three:hover,
.grid-four:hover
{
    background: linear-gradient(to right, var(--primary-color) 0%, var(--dark-primary-color) 100%);
    color: var(--head-color);
} */

.grid-one::before,
.grid-two::before,
.grid-three::before,
.grid-four::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 0%;
    top: 0%;
    background: linear-gradient(to right, var(--primary-color) 0%, var(--dark-primary-color) 100%);
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.grid-one:hover::before,
.grid-two:hover::before,
.grid-three:hover::before,
.grid-four:hover::before {
    width: 100%;
    top: 0%;
}

.grid-one:hover>.grid-wrap>a,
.grid-one:hover>.grid-wrap>p,
.grid-two:hover>.grid-wrap>a,
.grid-two:hover>.grid-wrap>p,
.grid-three:hover>.grid-wrap>a,
.grid-three:hover>.grid-wrap>p,
.grid-four:hover>.grid-wrap>a,
.grid-four:hover>.grid-wrap>p {
    color: var(--head-color);
}

@keyframes fade-in {
    from {
        width: 0;
        opacity: 0;
    }

    to {
        width: var(--progress);
        opacity: 100%;
    }
}

.fade-in-element {
    animation: fade-in 1.4s;
    width: var(--progress);
}

.hidden {
    opacity: 0;
}


@media (min-width: 1000px) {
    .grid-container {
        grid-template-areas:
            ' one two'
            'three four';
    }
}

.port-grid-container {
    position: relative;
    margin-top: 100px !important;
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 30px;
    grid-template-areas:
        "one"
        "two"
        "three"
        "four"
        "five";
}

.port-grid-one {
    grid-area: one;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.port-grid-two {
    grid-area: two;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.port-grid-three {
    grid-area: three;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.port-grid-four {
    grid-area: four;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.port-grid-five {
    grid-area: five;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.port-grid-one>img,
.port-grid-two>img,
.port-grid-three>img,
.port-grid-four>img,
.port-grid-five>img {
    height: auto;
    display: block;
    width: 100%;
}

@media (min-width: 1000px) {
    .port-grid-container {
        grid-template-areas:
            ' one two three'
            ' four two five';
    }
}

.port-grid-one::before {
    position: absolute;
    content: 'PIZZA & PASTA';
    color: var(--head-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0%;
    width: 0%;
    top: 50%;
    left: 50%;
    background: var(--grid-bg-clr);
    opacity: 0;
    transition: 0.3s;
}

.port-grid-two::before {
    position: absolute;
    content: 'HOICHOI';
    color: var(--head-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0%;
    width: 0%;
    top: 50%;
    left: 50%;
    background: var(--grid-bg-clr);
    opacity: 0;
    transition: 0.3s;
}

.port-grid-three::before {
    position: absolute;
    content: 'BAKERY';
    color: var(--head-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0%;
    width: 0%;
    top: 50%;
    left: 50%;
    background: var(--grid-bg-clr);
    opacity: 0;
    transition: 0.3s;
}

.port-grid-four::before {
    position: absolute;
    content: 'TRAVEL HUT';
    color: var(--head-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0%;
    width: 0%;
    top: 50%;
    left: 50%;
    background: var(--grid-bg-clr);
    opacity: 0;
    transition: 0.3s;
}

.port-grid-five::before {
    position: absolute;
    content: 'CAR BANK';
    color: var(--head-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0%;
    width: 0%;
    top: 50%;
    left: 50%;
    background: var(--grid-bg-clr);
    opacity: 0;
    transition: 0.3s;
}

.port-grid-one:hover::before,
.port-grid-two:hover::before,
.port-grid-three:hover::before,
.port-grid-four:hover::before,
.port-grid-five:hover::before {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    opacity: 100%;
}

.port-grid-one {
    background-image: url(../images/Pizza.jpg);
    background-position: center;
    background-size: 105%;
    background-repeat: no-repeat;
    transition: 0.3s;
    /* border: 5px solid var(--primary-color); */
}

.port-grid-two {
    background-image: url(../images/Hoichoi.jpg);
    background-position: center;
    background-size: 105%;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.port-grid-three {
    background-image: url(../images/bakery.jpg);
    background-position: center;
    background-size: 105%;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.port-grid-four {
    background-image: url(../images/TravelHut.jpg);
    background-position: center;
    background-size: 105%;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.port-grid-five {
    background-image: url(../images/CarBank.jpg);
    background-position: center;
    background-size: 105%;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.port-grid-one:hover,
.port-grid-two:hover,
.port-grid-three:hover,
.port-grid-four:hover,
.port-grid-five:hover {
    background-size: 130%;
}

.port-grid-one>img,
.port-grid-two>img,
.port-grid-three>img,
.port-grid-four>img,
.port-grid-five>img {
    opacity: 0;
}

.view{
    position: absolute;
    right: 0;
    bottom: -75px;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 10px 20px;
}

.view>a{
    color: var(--head-color);
    text-decoration: none;
    font-size: 20px;
}

.footer {
    margin-top: 110px;
    background-color: var(--footer-color);
    padding-bottom: 20px;
}

.footer .prf {
    padding-top: 45px;
}

.contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.con-form {
    margin-top: 25px;
    width: 45%;
}

.con-details {
    width: 45%;
}

.form-inputs {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    caret-color: var(--caret-clr);
}

.inp-div {
    display: flex;
    width: 100%;
    gap: 15px;
}

.input-style {
    outline: none;
    border: none;
    padding: 25px;
    font-size: 14px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    background-color: var(--form-bg-clr);
    color: var(--placeholder-color);
}

.input-style-sub {
    outline: none;
    border: none;
    padding: 25px;
    font-size: 14px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 50%;
    background-color: var(--form-bg-clr);
    color: var(--placeholder-color);
}

.form-inputs::placeholder {
    color: var(--placeholder-color);
}

.input-style::placeholder,
.input-style-sub::placeholder {
    font-size: 14px;
    color: var(--placeholder-color);
    font-family: 'Poppins', sans-serif;
}

.form-inputs>button {
    background-color: var(--primary-color);
    padding: 15px 100px;
    border: 1px solid var(--primary-color);
    color: var(--head-color);
    font-size: 16px;
    width: 100%;
    margin: 0 auto;
    display: block;
    /* margin-top: 90px !important; */
    transition: 0.3s;
    cursor: pointer;
}

.form-inputs>button:hover {
    background-color: var(--dark-primary-color);
}

/* .con-details{
    /* margin-left: 280px; */
/* margin: 0 auto; */

.con-details>h4 {
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 0;
}

.con-details>p {
    color: var(--placeholder-color);
    font-size: 18px;
    margin-top: 3px;
}

.foot-list {
    padding: 0;
    list-style-type: none;
}

.foot-list>li {
    padding: 10px 0;
}

.foot-list>li>p {
    color: var(--text-color);
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 8px;
}

.foot-list>li>a {
    text-decoration: none;
    color: var(--nav-color);
    font-size: 15px;
}

.foot-list>li>a>i {
    color: var(--text-color);
    padding-right: 25px;
    padding-top: 20px;
    font-size: 16px;
}

.foot-list>li>a:hover,
.foot-list>li>a>i:hover {
    color: var(--primary-color);
}

.copyright {
    font-size: 14px;
    color: var(--form-color);
    text-align: center;
    margin-top: 120px;
    margin-bottom: 0;
}

.copyright>a {
    text-decoration: none;
    color: var(--primary-color);
}


@media(max-width:1024px){
    nav>ul{
        padding-left: 0;
    }
    .banner{
        height: 470px;
    }
    .ban-wrap{
        width: 65%;
        padding-top: 47px;
    }
    .about-text{
        width: 90%;
    }
    .about-text>h5{
        width: 85%;
    }
    .about-con{
        width: 100%;
        gap: 20px;
        padding-left: 15px;
        justify-content: center;
    }
    .about-img {
        width: 86%;
    }

    .about-img>img {
        width: inherit;
        height: auto;
    }
    .edu-box>*{
        padding: 0 10px;
    }
    .line{
        width: 285px;
    }
    .column-1,
    .column-2{
        width: 42%;
    }
    .port-grid-container{
        width: 85%;
    }
    .con-form{
        width: 55%;
    }
}

@media(max-width:768px){
    .hamburger{
        display: block;
        margin-top: 25px;
    }
    nav{
        display: none;
    }
    .banner{
        height: 420px;
    }
    .ban-wrap {
        padding-top: 95px;
        width: 54%;
        /* margin-left: 155px; */
        align-items: center;
    }
    .ban-text {
        font-size: 35px;
        line-height: 3rem;
        margin-bottom: 10px;
        margin-right: 0;
        margin-left: 0;
    }

    .ban-wrap>p {
        margin: 15px 0;
        font-size: 12px;
    }

    .ban-wrap>a {
        padding: 14px 15px;
        border-radius: 6px;
        font-size: 12px;
        margin-left: 0;
        margin-right: 0;
    }
    .about{
        margin-bottom:25px; 
    }
    .about-wrap{
        flex-direction: column;
        margin-top: 20px;
        gap: 50px;
    }
    .about-text{
        width: 100%;
    }
    .about-text>h5{
        margin-top: 20px;
    }
    .dash{
        width: 85%;
    }
    .about-con{
        padding-left: 0;
        gap: 65px;
    }
    .about-img{
        width: 100%;
    }
    .about-img>img{
        width: 85%;
    }
    .edu{
        margin-bottom: 35px;
        margin-top: 80px;
    }
    .edu-box{
        flex-direction: column;
        gap: 50px;
    }
    .edu-box>*{
        padding: 0;
    }
    .line{
        width: 345px;
    }
    .details{
        text-align: center;
    }
    .column-1,
    .column-2{
        width: 43%;
    }
    .grid-container{
        width: 40%;
        margin-top: 25px !important;
    }
    .grid-one{
        border-right: none;
        border-bottom: 1px solid var(--nav-color);
    }
    .grid-three{
        border-right: none;
    }
    .port-grid-container {
        margin-top: 75px !important;
        grid-template-areas:
            'one'
            'three'
            'two'
            'two'
            'four'
            'five';
        width: 60%;
    }
    .footer{
        margin-top: 85px;
    }
    .contact-box{
        flex-direction: column;
        padding: 0 40px;
        padding-top: 50px;
        gap: 50px;
    }
    .con-form,
    .con-details{
        width: 100%;
    }
    .form-inputs{
        width: 100%;
    }
}

@media(max-width:430px) {
    header {
        width: 412px;
    }

    .hamburger {
        display: block;
        margin-top: 25px;
    }

    nav {
        display: none;
    }

    .banner {
        /* width: 630px; */
        height: 260px;
    }

    .ban-wrap {
        padding-top: 23px;
        width: 60%;
        margin-left: 155px;
        align-items: center;
    }

    .ban-text {
        font-size: 22px;
        line-height: 1.7rem;
        margin-bottom: 10px;
        margin-right: 0;
        margin-left: 0;
    }

    .ban-wrap>p {
        margin: 12px 0;
        font-size: 12px;
    }

    .ban-wrap>a {
        padding: 13px 5px;
        border-radius: 6px;
        font-size: 12px;
        margin-left: 0;
        margin-right: 0;
    }

    .about-sec {
        margin-top: 20px;
    }

    .about {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .about-wrap {
        flex-direction: column;
    }

    .about-text {
        width: 100%;
        /* padding-bottom: 50px; */
        margin-top: 20px;
    }

    .about-text>h5 {
        font-size: 16px;
        width: 90%;
        margin-top: 0;
    }

    .about-con {
        width: 90%;
        flex-direction: column;
        gap: 15px;
    }

    .web {
        width: 100%;
    }

    .about-img {
        width: 100%;
        margin-top: 0;
    }

    .about-img>img {
        width: 90%;
        height: auto;
    }

    .dash {
        width: 90%;
    }

    .edu {
        font-size: 22px;
        margin-top: 65px;
        margin-bottom: 20px;
    }

    .edu-box {
        flex-direction: column;
        gap: 50px;
        margin-top: 30px;
    }

    .details {
        text-align: center;
    }

    .skill-box {
        flex-direction: column;
        padding: 50px 20px;
        padding-bottom: 0 !important;
    }

    .column-1,
    .column-2 {
        width: 100%;
    }

    .hr-top {
        margin-top: 25px;
    }

    .prf {
        margin-top: 50px;
    }
    .grid-container{
        margin-top: 25px !important;
    }
    .grid-one {
        border-right: none;
        border-bottom: 1px solid var(--nav-color);
    }

    .grid-three {
        border-right: none;
    }

    .port-grid-container {
        margin-top: 40px !important;
        grid-template-areas:
            'one'
            'three'
            'two'
            'two'
            'four'
            'five';
    }

    .contact-box {
        flex-direction: column;
        gap: 50px;
        padding: 30px 20px;
    }

    .con-form {
        width: 100%;
    }

    .con-details {
        width: 100%;
    }

    .inp-div {
        flex-direction: column;
        gap: 25px;
    }

    .form-inputs {
        width: 100%;
    }

    .input-style-sub {
        margin: 0;
        width: 100%;
    }

    .copyright {
        margin-top: 40px;
        padding: 0 20px;
    }

    .footer {
        padding-bottom: 30px;
        margin-top: 40px;
    }

}